html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
}

table {
  th {
    text-align: center;
  }

  &.table-middle td {
    vertical-align: middle !important;
  }
}

textarea {
  resize: vertical;
}

.page-footer {
  margin-top: 20px;
  margin-bottom: 20px;

  .link-button a {
    margin: 0 10px;
  }
}

.nav.navbar-nav ul.dropdown-menu {
  width: 100%;
  min-width: inherit;
}

.block {
  display: block;
}

.flash-message {
  margin: 20px 0;
}

.form-inline {
  margin: 20px 0;
}

.post-content {
  min-width: 170px;
  max-width: 95%;
  margin: 0 auto;
  text-align: left;
  white-space: pre-line;
}

.jscolor {
  border: none;
  border-radius: 2px;
}
